:root {
    --main-theme-color: #3a3633;
    --dark-bg-color: #acc846;
    --heading-color: #0c3eb3;
    --paragraph-color: #777c87;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    margin: 0;
}

